/* 
 * JavaFX CSS Properties and Values can be found at
 * https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
 */


/* Universal Window Settings */
.window {
	-fx-alignment: center;
	-fx-pref-width: 1280;
	-fx-pref-height: 720;
    -fx-background-image: url("stoneBG.png");
    /*-fx-background-color: #668899; */
}


/* Menu Properties */
/* Pane */
.menuBorder {
	-fx-alignment: center;
	-fx-min-width: 400;
	-fx-min-height: 90;
}
.menuBorderTitle {
	-fx-alignment: center;
	-fx-min-width: 400;
	-fx-min-height: 210;
}
.menuButtonHolder {
	-fx-alignment: center;
	-fx-min-width: 300;
	-fx-min-height: 420;
    -fx-spacing: 20;
}
/* Label */
.menuTitle {
	-fx-alignment: center;
	-fx-font-family: serif;
	-fx-font-size: 80;
	-fx-font-weight: bold; 
	-fx-text-fill: radial-gradient(center 50% -40%, radius 185%, #f8941c 55%, #fcca8e 65%);
	-fx-effect: dropshadow(two-pass-box, #684d38, 10, 0.5, 3, 3);
}
/* Button */
.menuButton {
	-fx-alignment: center;
    -fx-max-width: 300;
    -fx-max-height: 50;
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #2099d9  55%, #c4d1d8 65%);
    -fx-background-radius: 22;
    -fx-background-insets: 0;
    -fx-border-color: linear-gradient(#c4d1d8, #668899);
    -fx-border-radius: 20;
    -fx-border-width: 5 5 5 5;
    -fx-label-padding: 0;
}
.menuButton .text {
    -fx-font-size: 30;
	-fx-font-weight: bold; 
	-fx-fill: #eeeeee;
	-fx-effect: innershadow(one-pass-box, #668899, 4, 0.5, 0, 1);
}
.menuButton:hover {
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #f8941c 55%, #fcca8e 65%);
    -fx-border-color: linear-gradient(#fcca8e, #9a5605);
}
.menuButton:pressed {
        -fx-background-color: radial-gradient(center 50% 110%, radius 150%, #15648e 55%, #7bc5ec 65%);
        -fx-border-color: linear-gradient(#7bc5ec, #1a7cb0);
}

.menuButtonSelected {
        -fx-background-color: radial-gradient(center 50% 110%, radius 150%, #15648e 55%, #7bc5ec 65%);
        -fx-border-color: linear-gradient(#7bc5ec, #1a7cb0);
}

/* Status Message Label */
.statusMessage {
	-fx-alignment: center;
	-fx-font-family: sans-serif;
	-fx-font-size: 25;
	-fx-font-weight: bold; 
	-fx-text-fill:#fbb868  ;
    -fx-effect: dropshadow(two-pass-box, #333333, 10, 0.5, 3, 3);
}


/* Battle Properties */
/* Pane */
.battleBorder {
	-fx-alignment: center;
	-fx-min-width: 400;
	-fx-min-height: 120;
}
.battleTileHolder {
	-fx-alignment: center;
	-fx-max-width: 480;
	-fx-max-height: 480;
	-fx-padding: 0;
	-fx-pref-tile-width: 60;	/* must match .tile:-fx-min-width */
	-fx-pref-tile-height: 60;	/* must match .tile:-fx-min-height */
	-fx-hgap: 0;
	-fx-vgap: 0;
}
/* Label */
.overlord {
	-fx-border-color: #4d3338;
	-fx-border-style: solid;
	-fx-border-radius: 10;
	-fx-border-width: 5;
	-fx-font-family: serif;
	-fx-font-size: 80;
	-fx-font-weight: bold;
	-fx-text-fill: #ff7a01;
	-fx-effect: dropshadow(two-pass-box, #684d38, 10, 0.5, 3, 3);
}
/* Button */
.tile {
	-fx-min-width: 60;			/* must match .battleTileHolder:-fx-pref-tile-width */
	-fx-min-height: 60;			/* must match .battleTileHolder:-fx-pref-tile-height */
}
.whtTile {
	-fx-background-color: linear-gradient(#ffffff, #d9d9d9),
		linear-gradient(#f2f2f2, #d9d9d9 20%, #e6e6e6),
		linear-gradient(#d9d9d9, #f2f2f2 50%);
    -fx-background-radius: 0, 1, 2;
    -fx-background-insets: 0, 1, 2;
	-fx-text-fill: #000000;
}
.blkTile {
	-fx-background-color: linear-gradient(#000000, #404040),
		linear-gradient(#1a1a1a, #404040 20%, #262626),
		linear-gradient(#404040, #1a1a1a 50%);
    -fx-background-radius: 0, 1, 2;
    -fx-background-insets: 0, 1, 2;
	-fx-text-fill: #ffffff;
}


/* Market Properties */
/* Pane */
.marketContainer {
    -fx-alignment: CENTER;
    -fx-spacing: 15;
}
/* Label */
.marketLabel {
    -fx-alignment: center;
    -fx-font-family: sans-serif;
    -fx-font-size: 16;
    -fx-font-weight: bold; 
    -fx-text-fill: #92b326  ;
    -fx-effect: dropshadow(two-pass-box, #333333, 10, 0.5, 3, 3);
}
.marketCostLabel {
    -fx-alignment: center;
    -fx-background-image: url('gemIcon.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-font-size: 25;
    -fx-label-padding: 0;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(two-pass-box, #333333, 10, 0.5, 3, 3);
}
.marketCostLabel .text {
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, #b6cfff, 10, 0.5, 2, 2);
}
/* Button */
.marketButton {
    -fx-alignment: center;
    -fx-background-image: url('plusIcon.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-min-width: 50;
    -fx-min-height: 50;
}

/* TODO Only one of these should really be needed once the controller is finished */
.marketUnit1 {
    -fx-alignment: center;
    -fx-background-image: url('fireIcon.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(#999999, #cccccc);
    -fx-background-radius: 450;
    -fx-border-color: linear-gradient(#cccccc, #888888);
    -fx-border-radius: 500;
    -fx-border-width: 3;
    -fx-min-width: 200;
    -fx-min-height: 200;
    -fx-effect: dropshadow(one-pass-box, #444444, 10, 0.5, 2, 2);
}

.marketUnit2 {
    -fx-alignment: center;
    -fx-background-image: url('waterIcon.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(#999999, #cccccc);
    -fx-background-radius: 450;
    -fx-border-color: linear-gradient(#cccccc, #888888);
    -fx-border-radius: 500;
    -fx-border-width: 3;
    -fx-min-width: 200;
    -fx-min-height: 200;
    -fx-effect: dropshadow(one-pass-box, #444444, 10, 0.5, 2, 2);
}
.marketUnit3 {
    -fx-alignment: center;
    -fx-background-image: url('earthIcon.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(#999999, #cccccc);
    -fx-background-radius: 450;
    -fx-border-color: linear-gradient(#cccccc, #888888);
    -fx-border-radius: 500;
    -fx-border-width: 3;
    -fx-min-width: 200;
    -fx-min-height: 200;
    -fx-effect: dropshadow(one-pass-box, #444444, 10, 0.5, 2, 2);
}


.marketBanner {
     -fx-background-image: url('banner.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-min-height: 250;
    -fx-min-width: 175;
    -fx-padding: 25;
    -fx-spacing: 5;
}

.unitReport {
    -fx-border-color: #684d38;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-effect: dropshadow(two-pass-box, #333333, 10, 0.5, 3, 3);
    -fx-background-color: #dedede;
    -fx-background-radius: 15;
    -fx-padding: 10;
}

/*Game Creation*/
.unitSelectContainer {
	-fx-alignment: center;
	-fx-min-width: 400;
	-fx-min-height: 400;
	-fx-padding: 10;
	/*-fx-border-color: #000000;
    -fx-border-radius: 20;
    -fx-border-width: 1 1 1 1;*/
}
.unitSelect{
	-fx-alignment: center;
    -fx-max-width: 300;
    -fx-max-height: 1000;
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #2099d9  55%, #c4d1d8 65%);
    -fx-background-radius: 22;
    -fx-background-insets: 0;
    -fx-border-color: linear-gradient(#c4d1d8, #668899);
    -fx-border-radius: 20;
    -fx-border-width: 1 1 1 1;
    -fx-label-padding: 0;
}
.typeSelectModal {
	-fx-alignment: center;
	-fx-pref-width: 400;
	-fx-pref-height: 100;
    
    -fx-background-color: rgba(0, 0, 0, 0);
}
.modalTitle {
	-fx-alignment: center;
	-fx-min-width: 400;
	-fx-min-height: 50;
}
.modalTitleText {
	-fx-alignment: center;
	-fx-font-family: serif;
	-fx-font-size: 14;
	-fx-font-weight: bold; 
	-fx-text-fill: radial-gradient(center 50% -40%, radius 185%, #f8941c 55%, #fcca8e 65%);
	-fx-effect: dropshadow(two-pass-box, #684d38, 10, 0.5, 3, 3);
}

.typeSelect{
	-fx-min-width: 100;
    -fx-min-height: 100;
    
}

#fire{
	
    -fx-alignment: center;
    -fx-background-image: url('fireIcon.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(#999999, #cccccc);
    -fx-background-radius: 350;
    -fx-border-color: linear-gradient(#cccccc, #888888);
    -fx-border-radius: 200;
    -fx-border-width: 3;
    -fx-min-width: 100;
    -fx-min-height: 100;
    -fx-effect: dropshadow(one-pass-box, #444444, 10, 0.5, 2, 2);
}
#earth{
	
    -fx-alignment: center;
    -fx-background-image: url('earthIcon.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(#999999, #cccccc);
    -fx-background-radius: 450;
    -fx-border-color: linear-gradient(#cccccc, #888888);
    -fx-border-radius: 500;
    -fx-border-width: 3;
    -fx-min-width: 100;
    -fx-min-height: 100;
    -fx-effect: dropshadow(one-pass-box, #444444, 10, 0.5, 2, 2);
}
#water{
	
    -fx-alignment: center;
    -fx-background-image: url('waterIcon.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(#999999, #cccccc);
    -fx-background-radius: 450;
    -fx-border-color: linear-gradient(#cccccc, #888888);
    -fx-border-radius: 500;
    -fx-border-width: 3;
    -fx-min-width: 100;
    -fx-min-height: 100;
    -fx-effect: dropshadow(one-pass-box, #444444, 10, 0.5, 2, 2);
}