/* 
 * JavaFX CSS Properties and Values can be found at
 * https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
 */


/* Universal Settings */
.window {
	-fx-alignment: center;
	-fx-pref-width: 1280;
	-fx-pref-height: 720;
    -fx-background-image: url("stoneBG.png");
    /*-fx-background-color: #668899; */
}
.bg {
    -fx-background-image: url('gameLogo.png');
    -fx-background-size: 40%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 80 110;
    -fx-background-color: transparent;
    -fx-opacity: 60%;
}
.fire {
    -fx-background-image: url('fireIcon.png');
}
.earth {
    -fx-background-image: url('earthIcon.png');
}
.water {
    -fx-background-image: url('waterIcon.png');
}


/* Menu Properties */
/* Pane */
.menuBorder {
	-fx-alignment: center;
	-fx-min-width: 400;
	-fx-min-height: 90;
}
.menuBorderTitle {
	-fx-alignment: center;
	-fx-min-width: 400;
	-fx-min-height: 210;
    -fx-background-color: transparent;
}
.menuButtonHolder {
	-fx-alignment: center;
	-fx-min-width: 300;
	-fx-min-height: 420;
    -fx-spacing: 20;
}
/* Label */
.menuTitle {
	-fx-alignment: center;
	-fx-font-family: serif;
	-fx-font-size: 80;
	-fx-font-weight: bold; 
	-fx-text-fill: radial-gradient(center 50% -40%, radius 185%, #f8941c 55%, #fcca8e 65%);
	-fx-effect: dropshadow(two-pass-box, #684d38, 10, 0.5, 3, 3);
}
/* Button */
.menuButton {
	-fx-alignment: center;
    -fx-max-width: 300;
    -fx-max-height: 50;
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #2099d9  55%, #c4d1d8 65%);
    -fx-background-radius: 22;
    -fx-background-insets: 0;
    -fx-border-color: linear-gradient(#c4d1d8, #668899);
    -fx-border-radius: 20;
    -fx-border-width: 5 5 5 5;
    -fx-label-padding: 0;
}
.menuButton .text {
    -fx-font-size: 30;
	-fx-font-weight: bold; 
	-fx-fill: #eeeeee;
	-fx-effect: innershadow(one-pass-box, #668899, 4, 0.5, 0, 1);
}
.menuButton:hover {
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #f8941c 55%, #fcca8e 65%);
    -fx-border-color: linear-gradient(#fcca8e, #9a5605);
}
.menuButton:pressed {
        -fx-background-color: radial-gradient(center 50% 110%, radius 150%, #15648e 55%, #7bc5ec 65%);
        -fx-border-color: linear-gradient(#7bc5ec, #1a7cb0);
}

.menuButtonSelected {
        -fx-background-color: radial-gradient(center 50% 110%, radius 150%, #15648e 55%, #7bc5ec 65%);
        -fx-border-color: linear-gradient(#7bc5ec, #1a7cb0);
}

/* Status Message Label */
.statusMessage {
	-fx-alignment: center;
	-fx-font-family: sans-serif;
	-fx-font-size: 25;
	-fx-font-weight: bold; 
	-fx-text-fill:#fbb868  ;
    -fx-effect: dropshadow(two-pass-box, #333333, 10, 0.5, 3, 3);
}


/* Battle Properties */
.battleBorderTop {
	-fx-alignment: center;
	-fx-min-height: 30;
}
.battleBorderSide {
	-fx-alignment: center;
	-fx-min-width: 380;
	-fx-spacing: 10;
	-fx-padding: 30;
}
.battleBorderBottom {
	-fx-alignment: center;
	-fx-spacing: 10;
	-fx-min-height: 170;
}
.battleTileHolder {
	-fx-alignment: center;
	-fx-max-width: 520;
	-fx-max-height: 520;
	-fx-padding: 0;
	-fx-pref-tile-width: 65;	/* must match .tile:-fx-min-width */
	-fx-pref-tile-height: 65;	/* must match .tile:-fx-min-height */
	-fx-hgap: 0;
	-fx-vgap: 0;
}
.tile {
	-fx-min-width: 65;			/* must match .battleTileHolder:-fx-pref-tile-width */
	-fx-min-height: 65;			/* must match .battleTileHolder:-fx-pref-tile-height */
    -fx-background-size: 95%;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.whtTile {
	-fx-background-color: #ffffff,
		linear-gradient(#f2f2f2, #d9d9d9 20%, #e6e6e6),
		linear-gradient(#d9d9d9, #f2f2f2 50%);
    -fx-background-radius: 0, 1, 2;
    -fx-background-insets: 0, 1, 2;
	-fx-text-fill: #000000;
}
.whtTile.player {
	-fx-background-color: #ffffff,
		linear-gradient(#f2f2f2, #d9d9d9 20%, #e6e6e6),
		linear-gradient(#d9d9d9, #f2f2f2 50%),
		#0000bb;
    -fx-background-radius: 0, 1, 2, 30;
    -fx-background-insets: 0, 1, 2, 3;
}
.whtTile.enemy {
	-fx-background-color: #ffffff,
		linear-gradient(#f2f2f2, #d9d9d9 20%, #e6e6e6),
		linear-gradient(#d9d9d9, #f2f2f2 50%),
		#bb0000;
    -fx-background-radius: 0, 1, 2, 30;
    -fx-background-insets: 0, 1, 2, 3;
}
.blkTile {
	-fx-background-color: #000000,
		linear-gradient(#1a1a1a, #404040 20%, #262626),
		linear-gradient(#404040, #1a1a1a 50%);
    -fx-background-radius: 0, 1, 2;
    -fx-background-insets: 0, 1, 2;
	-fx-text-fill: #ffffff;
}
.blkTile.player {
	-fx-background-color: #000000,
		linear-gradient(#1a1a1a, #404040 20%, #262626),
		linear-gradient(#404040, #1a1a1a 50%),
		#0000bb;
    -fx-background-radius: 0, 1, 2, 30;
    -fx-background-insets: 0, 1, 2, 3;
}
.blkTile.enemy {
	-fx-background-color: #000000,
		linear-gradient(#1a1a1a, #404040 20%, #262626),
		linear-gradient(#404040, #1a1a1a 50%),
		#bb0000;
    -fx-background-radius: 0, 1, 2, 30;
    -fx-background-insets: 0, 1, 2, 3;
}
.redHighlight {
	-fx-background-color: #ff0000,
		linear-gradient(derive(#ff0000, +90%), derive(#ff0000, +100%) 20%, derive(#ff0000, +80%));
    -fx-background-radius: 0, 2;
    -fx-background-insets: 0, 2;
}
.greenHighlight {
	-fx-background-color: #00ff00,
		linear-gradient(derive(#00ff00, +90%), derive(#00ff00, +100%) 20%, derive(#00ff00, +80%));
    -fx-background-radius: 0, 2;
    -fx-background-insets: 0, 2;
}
.blueHighlight {
	-fx-background-color: #0000ff,
		linear-gradient(derive(#0000ff, +90%), derive(#0000ff, +100%) 20%, derive(#0000ff, +80%));
    -fx-background-radius: 0, 2;
    -fx-background-insets: 0, 2;
}
.battleLabel {
	-fx-border-color: #4d3338;
	-fx-border-style: solid;
	-fx-border-radius: 10;
	-fx-border-width: 5;
	-fx-font-family: serif;
	-fx-font-size: 40;
	-fx-font-weight: bold;
	-fx-text-fill: #ff7a01;
	-fx-effect: dropshadow(two-pass-box, #684d38, 10, 0.5, 3, 3);
}
.battleUnitBox {
    -fx-max-width: 300px;
    -fx-alignment: center;
    -fx-spacing: 10;
}
.battleUnitIcons {
    -fx-alignment: center;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(#999999, #cccccc);
    -fx-border-color: linear-gradient(#cccccc, #888888);
    -fx-min-width: 80;
    -fx-min-height: 80;
    -fx-effect: dropshadow(one-pass-box, #444444, 10, 0.5, 2, 2);
}
.battleUnitStatBox {
    -fx-background-color: #666666;
    -fx-background-radius: 22;
    -fx-max-width: 200px;
    -fx-max-height: 100px;
    -fx-alignment: center-right;
    -fx-spacing: 10;
    -fx-padding: 10;
}
.stats {
	-fx-text-fill: #000000;
	-fx-font-family: serif;
	-fx-font-size: 24;
	-fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, #444444, 10, 0.5, 2, 2);
}
.hp {
	-fx-text-fill: #FF0000;
}
.mp {
	-fx-text-fill: #0000FF;
}
.rage {
	-fx-text-fill: #FFFF00;
}
.battleActionBox {
    -fx-alignment: center;
    -fx-max-width: 520px;
    -fx-max-height: 170px;
    -fx-spacing: 10;
}


/* Market Properties */
.marketContainer {
    -fx-alignment: CENTER;
    -fx-spacing: 15;
    -fx-min-width: 400;
    -fx-min-height: 90;
}
.paddedMarketBox {
    -fx-padding: 15;
    -fx-background-color: #666666;
    -fx-background-radius: 22;
    -fx-max-width: 350px;
    -fx-alignment: center;
}
.marketLabel {
    -fx-alignment: center;
    -fx-font-family: sans-serif;
    -fx-font-size: 16;
    -fx-font-weight: bold; 
    -fx-text-fill: #92b326  ;
    -fx-effect: dropshadow(two-pass-box, #333333, 10, 0.5, 3, 3);
}

.marketPCLabel {
    -fx-alignment: center;
    -fx-font-family: sans-serif;
    -fx-font-size: 24;
    -fx-font-weight: bold; 
    -fx-text-fill: #92b326  ;
    -fx-effect: dropshadow(two-pass-box, #333333, 10, 0.5, 3, 3);
}

.marketCostLabel {
    -fx-alignment: center;
    -fx-background-image: url('gemIcon.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-font-size: 25;
    -fx-label-padding: 0;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(two-pass-box, #333333, 10, 0.5, 3, 3);
}
.marketCostLabel .text {
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, #b6cfff, 10, 0.5, 2, 2);
}
.marketButton {
    -fx-alignment: center;
    -fx-background-image: url('plusIcon.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-min-width: 50;
    -fx-min-height: 50;
}

.battleUnitIcons {
    -fx-alignment: center;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(#999999, #cccccc);
    -fx-background-radius: 450;
    -fx-border-color: linear-gradient(#cccccc, #888888);
    -fx-border-radius: 500;
    -fx-border-width: 3;
    -fx-min-width: 100;
    -fx-min-height: 100;
    -fx-effect: dropshadow(one-pass-box, #444444, 10, 0.5, 2, 2);
}
.marketUnitIcons {
    -fx-alignment: center;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(#999999, #cccccc);
    -fx-background-radius: 450;
    -fx-border-color: linear-gradient(#cccccc, #888888);
    -fx-border-radius: 500;
    -fx-border-width: 3;
    -fx-min-width: 200;
    -fx-min-height: 200;
    -fx-effect: dropshadow(one-pass-box, #444444, 10, 0.5, 2, 2);
}
.fireUnit {
    -fx-background-image: url('fireIcon.png');
}

.waterUnit {
    -fx-background-image: url('waterIcon.png');
}
.earthUnit {
    -fx-background-image: url('earthIcon.png');
}

.marketBanner {
     -fx-background-image: url('banner.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-min-height: 250;
    -fx-min-width: 175;
    -fx-padding: 30;
    -fx-spacing: 5;
}

.unitReport {
    -fx-border-color: #684d38;
    -fx-border-style: solid;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-effect: dropshadow(two-pass-box, #333333, 10, 0.5, 3, 3);
    -fx-background-color: #dedede;
    -fx-background-radius: 15;
    -fx-padding: 10;
}

/*Game Creation*/

.unitSelect{
	-fx-alignment: center;
    -fx-max-width: 300;
    -fx-max-height: 50;
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #2099d9  55%, #c4d1d8 65%);
    -fx-background-radius: 22;
    -fx-background-insets: 0;
    -fx-border-color: linear-gradient(#c4d1d8, #668899);
    -fx-border-radius: 20;
    -fx-border-width: 5 5 5 5;
    -fx-label-padding: 0;
}
.unitSelect .text {
    -fx-font-size: 30;
	-fx-font-weight: bold; 
	-fx-fill: #eeeeee;
	-fx-effect: innershadow(one-pass-box, #668899, 4, 0.5, 0, 1);
}
.unitSelect:hover {
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #f8941c 55%, #fcca8e 65%);
    -fx-border-color: linear-gradient(#fcca8e, #9a5605);
}
.unitSelect:pressed {
     -fx-background-color: radial-gradient(center 50% 110%, radius 150%, #15648e 55%, #7bc5ec 65%);
     -fx-border-color: linear-gradient(#7bc5ec, #1a7cb0);
}

.typeSelectContainer{
	-fx-min-width: 400;
	-fx-min-height: 210;
}
.typeContainer{
	-fx-alignment: center;
	-fx-min-width: 256;
}
.unitSelectContainer {
	-fx-alignment: center;
	-fx-min-width: 426.67;
}
.battleButtonContainer {
	-fx-alignment: center;
	-fx-min-width: 950;
}
.mainMenuButtonContainer {
	-fx-alignment: center;
	-fx-min-width: 330;
}
.gcUnitButton {
    -fx-alignment: center;
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: linear-gradient(#999999, #cccccc);
    -fx-background-radius: 350;
    -fx-border-color: linear-gradient(#cccccc, #888888);
    -fx-border-radius: 200;
    -fx-border-width: 3;
    -fx-min-width: 175;
    -fx-min-height: 175;
    -fx-effect: dropshadow(one-pass-box, #444444, 10, 0.5, 2, 2);
}
.gcUnitButton .text {
    -fx-font-size: 20;
	-fx-font-weight: bold; 
	-fx-fill: #eeeeee;
	
}
.backButton {
	-fx-alignment: center;
    -fx-max-width: 100;
    -fx-max-height: 50;
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #2099d9  55%, #c4d1d8 65%);
    -fx-background-radius: 22;
    -fx-background-insets: 0;
    -fx-border-color: linear-gradient(#c4d1d8, #668899);
    -fx-border-radius: 20;
    -fx-border-width: 5 5 5 5;
    -fx-label-padding: 0;
}
.backButton .text {
    -fx-font-size: 30;
	-fx-font-weight: bold; 
	-fx-fill: #eeeeee;
	-fx-effect: innershadow(one-pass-box, #668899, 4, 0.5, 0, 1);
}
.backButton:hover {
    -fx-background-color: radial-gradient(center 50% -40%, radius 200%, #f8941c 55%, #fcca8e 65%);
    -fx-border-color: linear-gradient(#fcca8e, #9a5605);
}
.backButton:pressed {
        -fx-background-color: radial-gradient(center 50% 110%, radius 150%, #15648e 55%, #7bc5ec 65%);
        -fx-border-color: linear-gradient(#7bc5ec, #1a7cb0);
}
.backButtonContainer {
	-fx-alignment: center;
	-fx-padding: 0 0 0 190;
	-fx-min-width: 426.67;
}